In [0]:
print("welcome to python programming")
print("welcome to python programming")
print("welcome to jupyter programming")
x=123456789
print(x)

welcome to python programming
welcome to python programming
welcome to jupyter programming
123456789

#markdown
##markdown
###markdown
####markdown
#####markdown
###Insert a image
![text](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTxEOVTcvf8wEI1bGPVZrCVADRvWGpFsVzrowss8S1SuQl_xJjK)


###Insert a site
[site](https://www.google.com/search?q=image&rlz=1C1CHNY_enIN824IN824&sxsrf=ACYBGNQD621FqISGR3xWL2YCVpNFb9s5nQ:1575346617661&tbm=isch&source=iu&ictx=1&fir=aT1lQMo5)
###for creating order list
1.abc

1.   cf
2.   fag
2.efg

1.   Li
2.   Le
3.hij

1.   List item
2.   List item

###*bold and single*italic text
**gitam**<br>
*gitam*

In [0]:
print("hello")
# variable creation
a = 10
b = 10
a+b
name = "Gitam"
print("university:"+ name)
name = input("enter a name")
age= input("enter age")
print("my name is",name,"and my age is",age)

hello
university:Gitam
enter a namevenkat
enter age21
my name is venkat and my age is 21

In [0]:
a= int(input("enter the first no"))
b=int(input("enter the second no"))
c=a+b
d=a-b
e=a*b
f=a/b
print(c)
print(d)
print(e)
print(f)

enter the first no10
enter the second no20
30
-10
200
0.5

In [0]:
###Fundamental datatypes
1.int
2.float
3.complex
4.string
5.boolean

In [0]:
a=10
b=12.05
c=5+5j
print(type(a),type(b),type(c))

<class 'int'> <class 'float'> <class 'complex'>

In [0]:
c= complex(3,4)
print(c)

(3+4j)

In [0]:
c1= 3+5j
c2=6+7j
print(c1+c2)
print(c1-c2)
print(c1*c2)

(9+12j)
(-3-2j)
(-17+51j)

In [0]:
a=10
b=20
a>b

False

In [0]:
s1="abc"
s2="xyz"
print(type(s1),type(s2))

<class 'str'> <class 'str'>

In [0]:
s1="100"
print(type(s1))
a=int(s1)
print(type(s1))
f=10.5
a1=int(f)
print(type(a1))
print(a1)

<class 'str'>
<class 'str'>
<class 'int'>
10

In [0]:
a= "123456789"
print(len(a))

9

In [0]:
a="123456789"
print(len(str(a1)))

2

In [0]:
###operators
1.arthematic operators --- )+,-,*,%,//,**
2.logical operators --->and,or,not
3.relational operators---><,>,<=,==,!=
4.membership operators-->in,not in

In [0]:
n1=12
n2=21
print(n1+n2)
print(n1-n2)
print(n1*n2)
print(n1/n2)
print(n1//n2)
print(n1**n2)

33
-9
252
0.5714285714285714
0
46005119909369701466112

In [0]:
#relational; operators
print(n1 == n2)
print(n1!=n2)
print(n1>n2)
print(n1>n2)

False
True
False
False

In [0]:
#logical operators
n1=20
print(n1>=10 and n1<=20)
print(n1>=10 or n1<= 20)
print(not n1)

True
True
False

In [0]:
a= 10
b= 12
c=a>b
d=a<b
e= a==b
d= a!=b
f=a<=b
g=a>=b
print(c,d,e,f,g,)

False True False True False

In [0]:
f=[1,2,3,4]
print(1 in f)
print(5 in f)
print(6 not in f)

True
False
True

In [0]:
##conditional statements
1.if
2.else
3.elif
##syntax:
#####if condition:
> statements<br>
#####else:
>statements

In [0]:

n = int(input("enter a number"))
if n%2 == 0:
  print("even")
else:
    print("odd")

enter a number10
even

In [0]:
n=int(input("enter a number"))
if n%3 ==0 and n%5 ==0:
  print("multiple of 3 nd 5")
else:
  print("not a multiple of3 and 5")

enter a number10
not a multiple of3 and 5

In [0]:
n=int(input("enter a number"))
if n>=0:
 print("positve")
else:
  print("neg")

enter a number-10
neg

check the input is leap yr or not

In [0]:
a = int(input("enter the number"))
if a % 400 == 0 or (a % 100 !=0 and a % 4 ==0):
  print("leap year")
else:
  print("not a leap year")

enter the number2016
leap year

In [0]:
n=int(input("enter a number"))
i=1
while i <= n:
  print(i,end=" ")
  i=i+1

enter a number2
1 2

In [0]:
n=int(input("enter a number"))
i=1
s=0
while i<= n:
  if i % 2 == 0:
    s= s+i
    i=i+1
    print(s)

enter a number10

###functional programming