<a href="https://colab.research.google.com/github/Venkataramreddy22/crt-program/blob/master/4_12_19.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###functional programming

1.simple
2.easy to understand
3.better reuseability
4.length of program will be divided into sub programs

In [0]:
def name of function(<parameters>):
  statememts
  return

In [0]:
# read a number
# print the even digit sum from the number

#input :1234
#output:6(2+4)

In [0]:
def evendigitsum(n):
  s=0
  while n!=0:
    r=n%10
    if r%2 == 0:
      s=s+r
      n=n//10
      return s 
evendigitsum(1234)

4

Define return fuction

In [0]:
def square(x):
  print(x*x)
print(square(4))

16
None

In [0]:
def square(x):
  return x*x
square(3)

9

In [0]:
def cube(x):
  return x*x*x
cube(3)

27

In [0]:
def multiply(x,y=0):
  print("value of x=",x)
  print("value of y=",y)
  return(x*y)
print(multiply(y=2,x=4))

value of x= 4
value of y= 2
8

#Swapping values

In [0]:
def swap(x,y):
    temp=x
    x=y
    y=temp
    return x,y
swap(2,3)

(3, 2)

In [0]:
#Input : 19535
#output : 9(large digit of the given no)

In [0]:
def largedigit(n):
    large = 0
    while n!=0:
      r=n%10
      if large < r:
          large = r
      n=n//10
    return large
largedigit(19535)

9

##For loop
##### syntax1:
for i in range(start,stop,step)


>statements
#####syntax2:
for i in iterableobject:


> statements

In [0]:
def printseries(lb,ub):
    for x in range(lb,ub+1):
        print(x,end =' ')
    return
printseries(1,10)

1 2 3 4 5 6 7 8 9 10

##collection types:


1.   List
2.   Tuple

1.   set
2.   dictionary

#list


1.  one of the data structure in python
2.  data structure means to store, sort and search options

1.   It's one common Data structures in python,the items of list seperated by coma and enclosed in square brackets

#Examples:
-List=[1,2,3,4,5]-List2=["Gitam",1,2]

In [54]:
li=[1,8,16,9,2]
print(li)#will print all the list items
print(li[0])
print(li[-5])
print(li[1:])
print(li[1:4])
print(li[-4:-1]) 
type('2')

[1, 8, 16, 9, 2]
1
1
[8, 16, 9, 2]
[8, 16, 9]
[8, 16, 9]

str